.main-wrapper {
    height: 85vh;
}

.time-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.time-container:hover {
    cursor: pointer;
}

.time-container .time {
    display: flex;
    justify-content: center;
    font-size: 9em;
}

.time-container .time:hover {
    border-bottom: 0.15rem solid #234465;
}

.time .m:hover, .s:hover {
    color: #ffa000;
}

.time-container .info {
    width: 24em;
    display: flex;
    justify-content: space-between;
}

.time-container .info p {
    text-align: center;
    font-size: 2em;
}

.info .timer-button {
    color: #ffa000;
}

.info .timer-on {
    color: darkgreen;
}

.info .timer-off {
    color: darkred;
}